<p id="notice"><%= notice %></p>

<h1>Listing Exercisehistories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercisehistories.each do |exercisehistory| %>
      <tr>
        <td><%= link_to 'Show', exercisehistory %></td>
        <td><%= link_to 'Edit', edit_exercisehistory_path(exercisehistory) %></td>
        <td><%= link_to 'Destroy', exercisehistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercisehistory', new_exercisehistory_path %>
